*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}

.nav{
    width: 100vw;
    height: 10vh;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    padding: 10px;
    border: 1px solid black;
    background-color: red;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    width: 8%;
    text-align: center;

}
.channel{
    border: 1px solid black;
    background-color: orange;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 15%;
    text-align: center;
}
.firstheading{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;   
}

.secondpart{
    background-color: rgb(73,82,84);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    text-transform: capitalize;
    font-size: 25px;
}
.aa,.bb{
    display: flex;
    justify-content: start;
}
